PORT=your_db

API_PREFIX = your_db

MONGO_URI=mongodb://localhost:27017/your_db

JWT_SECRET=your_jwt_secret

KEYCLOAK_REALM=your_master

KEYCLOAK_URL=your_keycloak_url

KEYCLOAK_CLIENT_ID=your_keycloak_client_id

KEYCLOAK_CLIENT_SECRET=your_keycloak_client_secret

KEYCLOAK_ADMIN_USER=your_keycloak_user_admin_name

KEYCLOAK_ADMIN_PASSWORD=your_keycloak_user_admin_password